@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,100,600);

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

body {
  background: url(/images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $primary-color;
}


section {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 100%;
}

.wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 64rem;
  margin: 0 auto;
}

h1 {
  // border-top: 2px solid $white;
  // border-bottom: 2px solid $white;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 8.4rem;
  line-height: 6.2rem;
  margin-top: 2.8rem;
  @include breakpoint(medium only) {
    font-size: 3rem;
  }
  @include breakpoint(small only) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 200;
}
